/**
 * Client App Styles
 * Extends shared base styles with custom cursors
 */

@import "@health-v1/shared/styles/base.css";

/* Client-specific: Custom cursor styles */
@layer base {
  body {
    cursor: url("/cursors/cursor-default.png") 0 0, default;
  }

  a,
  button,
  [role="button"],
  [role="link"],
  input[type="button"],
  input[type="submit"] {
    cursor: url("/cursors/cursor-pointer.png") 0 0, pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  textarea,
  [contenteditable="true"] {
    cursor: url("/cursors/cursor-text.png") 0 0, text;
  }

  input:disabled,
  button:disabled,
  [aria-disabled="true"] {
    cursor: url("/cursors/cursor-not-allowed.png") 0 0, not-allowed;
  }
}

@layer utilities {
  .cursor-default {
    cursor: url("/cursors/cursor-default.png") 0 0, default;
  }

  .cursor-pointer {
    cursor: url("/cursors/cursor-pointer.png") 0 0, pointer;
  }

  .cursor-text {
    cursor: url("/cursors/cursor-text.png") 0 0, text;
  }

  .cursor-move {
    cursor: url("/cursors/cursor-move.png") 0 0, move;
  }

  .cursor-grab {
    cursor: url("/cursors/cursor-grab.png") 0 0, grab;
  }

  .cursor-grabbing {
    cursor: url("/cursors/cursor-grabbing.png") 0 0, grabbing;
  }

  .cursor-not-allowed {
    cursor: url("/cursors/cursor-not-allowed.png") 0 0, not-allowed;
  }

  .cursor-wait {
    cursor: url("/cursors/cursor-wait.png") 0 0, wait;
  }

  .cursor-help {
    cursor: url("/cursors/cursor-help.png") 0 0, help;
  }

  .cursor-crosshair {
    cursor: url("/cursors/cursor-crosshair.png") 0 0, crosshair;
  }

  .cursor-resize-ew {
    cursor: url("/cursors/cursor-resize-ew.png") 0 0, ew-resize;
  }

  .cursor-resize-ns {
    cursor: url("/cursors/cursor-resize-ns.png") 0 0, ns-resize;
  }

  .cursor-resize-nwse {
    cursor: url("/cursors/cursor-resize-nwse.png") 0 0, nwse-resize;
  }

  .cursor-resize-nesw {
    cursor: url("/cursors/cursor-resize-nesw.png") 0 0, nesw-resize;
  }

  .cursor-zoom-in {
    cursor: url("/cursors/cursor-zoom-in.png") 0 0, zoom-in;
  }

  .cursor-zoom-out {
    cursor: url("/cursors/cursor-zoom-out.png") 0 0, zoom-out;
  }

  .cursor-drag {
    cursor: url("/cursors/cursor-grab.png") 0 0, grab;
  }

  .cursor-drag:active {
    cursor: url("/cursors/cursor-grabbing.png") 0 0, grabbing;
  }

  .cursor-interactive {
    cursor: url("/cursors/cursor-pointer.png") 0 0, pointer;
  }

  .cursor-disabled {
    cursor: url("/cursors/cursor-not-allowed.png") 0 0, not-allowed;
  }

  .cursor-loading {
    cursor: url("/cursors/cursor-wait.png") 0 0, wait;
  }
}
